# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Mac OS
.DS_Store

# Eclipse
.classpath
.project
.settings

# VS Code
.vscode

.metals

derby.log
metastore_db
spark-warehouse
.idea
